@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Alimentos Nutritivos</h2>
    <p class="lead">
    Este álbum son algunas comidas nutritivas que me preparo en casa y algún
    otro capricho que no es tan nutritivo

    La mayoría de las comidas contiene pollo, pescado.
    Casi no hay postres y comidas con carne.
    La mayoría del aceite de oliva es extra virgen.
    El arroz por preferencia es integral, por ahí leí que el arroz blanco hace
    que no desaparezca la panza. Así que por si las dudas, puro integral.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tips</h2>
        <ul>
            <li>Tomen muuuucha agua!! Y si quieren hacer agua de sabor, endulcenlo con stevia (no azúcar) aún que es mejor así natural sin endulzante</li>
            <li>Como tip, traten de quitarse embutidos, lácteos, arroz blanco,
            harinas, bebidas endulzantes (sobre todo la coca).</li>
        </ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <h2>Manianas</h2>
        <p>Todas las mañanas en ayunas tomen agua tibia con el jugo de la mitad de un limón. Por las tardes les recomiendo algún té ☕️ son buenisimos antioxidantes, preferentemente sin endulzar, en verdad, asi naturales se aprecia mejor el sabor</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>